<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src="https://maps.geoapify.com/v1/staticmap?style=osm-bright&width={{@width}}&height={{@height}}&center=lonlat:{{@lng}},{{@lat}}&zoom={{@zoom}}&apiKey={{this.token}}"
  >
</div>
